<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title  Jee Consult demo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Jee Consult demo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Lesson 1", "Index", "Lesson1")</li>
                    <li>@Html.ActionLink("Lesson 2", "Index", "Lesson2")</li>
                    <li>@Html.ActionLink("Lesson 3", "Index", "Lesson3")</li>
                    <li>@Html.ActionLink("Lesson 4", "Index", "Lesson4")</li>
                    <li>@Html.ActionLink("Lesson 5", "Index", "Lesson5")</li>
                    <li>@Html.ActionLink("Lesson 6", "Index", "Lesson6")</li>
                    <li>@Html.ActionLink("Lesson 7", "Index", "Lesson7")</li>
                    <li>@Html.ActionLink("Lesson 8", "Index", "Lesson8")</li>
                    <li>@Html.ActionLink("Lesson 9", "Index", "Lesson9")</li>
                    <li>@Html.ActionLink("Lesson 10", "Index", "Lesson10")</li>
                    <li>@Html.ActionLink("Lesson 11", "Index", "Lesson11")</li>
                    <li>@Html.ActionLink("Lesson 12", "Index", "Lesson12")</li>
                    <li>@Html.ActionLink("Lesson 13", "Index", "Lesson13")</li>
                    <li>@Html.ActionLink("Lesson 14", "Index", "Lesson14")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Jee Consult demo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
